<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link rel = "Stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"> </script>
  </head>
  <body>
    <center>
      <h1>Welcome to IPL Ticket Booking App</h1>
      <br />
      <img width="50%" src="https://tse4.mm.bing.net/th?id=OIP.XWoVY7HeGplrl0W2E9AFwAHaEK&pid=Api&P=0&h=180" alt="hotel-vector-illustration-simple-black-600nw-1734818867"/>
      <br />
      <a href="userLoginPage.html">
        <button type = "button" class = "btn btn-primary">User</button>
      </a>
      
      <a href="adminLoginPage.html">
        <button type = "button" class = "btn btn-success">Admin</button>
      </a>
      
      <a href="searchTicketPage.html">
        <button type = "button" class = "btn btn-warning">IPL Match (Search)</button>
      </a>

    </center>
  </body>
</html>